*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

:root{
    --body-color: #f0f0f0;
    --sidebar-color: #FFF;
    --primary-color: #a72626;
    --primary-color-light: #f0f0f1;
    --toggle-color: #b4adad;
    --text-color: #444343;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

html, body{
  height: 100%;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 170px;
    padding: 8px 2px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar li{
    height: 34px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;

}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 15px;
    font-weight: 100;
    white-space: nowrap;
    opacity: 1;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

a:hover{
  cursor: pointer;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 45px;
    border-radius: 6px;
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.home{
  position: fixed;
  top: 0;
  top: 0;
  left: 170px; 
  height: 100vh;
  width: calc(100% - 170px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  height: 40px;
}

.menu{
  overflow-x: auto;
  background-color: #2653a721;
}

.menu::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra */
}

.menu::-webkit-scrollbar-thumb {
  background-color: #a72626; /* Color de la barra de desplazamiento */
  border-radius: 3px; /* Radio de las esquinas de la barra de desplazamiento */
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: #821e1e; /* Color de la barra de desplazamiento al pasar el cursor */
}

/* Estilo para la barra de desplazamiento en Firefox */
.menu {
  scrollbar-width: thin;
}

.menu::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del fondo de la barra de desplazamiento */
}


.imageInicio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.logoInicio img {
  width: 200px; /* Cambiar el ancho a 200px */
  height: 130px; /* Cambiar el alto a 150px */
}





/* ACÁ  INICIO TODO LAS PANTALLAS A RECORRER */

.container{
  height: 100%;
}

.vista-container{
  display: flex;
  flex-direction: column;
  color: #444343;
  min-height: 84%;
}

.container-tabla-he{
  max-height: 475px;
  min-height: 475px;
}

.pre-hs-ex {
  width: 100%;
  border-collapse: collapse;
}

.encabezado{
  height: 60px;
  color: #fff;
}

.formularios{
    color: #fff;
}

.letras{
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.selectores {
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #a72626;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  height: 35px;
  margin-right: 10px
}
  
.selectores option {
  color: black;
}

.row_items{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.items-row{
  padding: 12px;
}
.consola-btn{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  max-width: 100%;
  width: 100%;
}

.items-row:last-child {
  margin-left: auto;
}

.botones{
  height: 35px;
  background-color: #f0f0f0;
}

.input-number {
  appearance: none;
  border: 1px solid #a72626;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  width: 110px;
}

.input {
  appearance: none;
  border: 1px solid #a72626;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  width: 100%;
}

.input-number:focus {
  outline: none;
  border-color: #a72626;
  box-shadow: 0 0 4px rgba(167, 38, 38, 0.6);
}

input[type="checkbox"].input-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #a72626;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn-submit {
  padding: 4px 10px;
  background-color: #ffffff;
  border: 1px solid #a72626;
  border-radius: 10px;
  color: #000000;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  height: 35px;
  margin-right: 5px;
}

.btn-submit:hover {
  border-color: #a72626;
  background-color: #a72626;
  color: #ffffff;
}




.pre-hs-ex th,
.pre-hs-ex td {
  padding: 8px;
  border: 1px solid #ccc;
}

.pre-hs-ex th {
  background-color: #f2f2f2;
  text-align: center;
}

.pre-hs-ex tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pre-hs-ex tbody tr:hover {
  background-color: #e9e9e9;
}

.pre-hs-ex thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff; /* ajusta el color de fondo según tus necesidades */
}




.text.letras {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
}

.text.letras .row {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 4px; /* Espacio entre los elementos */
}

.text.letras .row h4 {
  margin: 0; /* Elimina el margen por defecto del h4 */
  margin-right: 20px; /* Agrega margen a la derecha del h4 */
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 9999;
}

.demo-container {
  width: 280px;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 5px;
  background-color: #a72626;
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: #b67373;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}

/*CONFIRMACIÓN DEL POP UP */

.popup-confirmacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.popup {
  position: fixed;
  bottom: 2rem;
  right: -250px;
  width: 250px;
  height: auto;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
  padding: 10px;
  transition: right 0.3s ease;
  z-index: 99999;
}

.popup.active {
  right: 0;
}

.close {
  float: right;
  cursor: pointer;
}

#openPopup {
  margin-top: 20px;
}



/* Barra de desplazamiento principal */
::-webkit-scrollbar {
  width: 12px;
}

/* Barra de desplazamiento del riel */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #a72626dc;
  border-radius: 6px;
}

/* Cambiar el color cuando se mueve el cursor sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: #a72626;
}

.card-encabezado{
  border-radius: 10px;
  border: 1px solid #a72626;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 240px;
}

.botones-remito{
  width: 116px;
}

.botones-remito-nuevo{
  width: 100%;
}
.info-group {
  flex: 1; /* Hace que los grupos ocupen el espacio disponible */
  margin: 0 10px; /* Espaciado entre los grupos */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.info-item {
  margin-bottom: 10px; /* Espaciado entre elementos de información */
}

/* Estilo adicional según sea necesario */
.info-item strong {
  margin-right: 5px; /* Espaciado entre la etiqueta y el valor */
}

.info-group-btn {
  color: #444343;
  max-height: 360px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  border-left: 1px solid #a72626;
}

.info-group-btn label {
  margin-bottom: 5px; /* Espaciado entre la etiqueta y el input */
}

.info-group-btn textarea {
  background: #f1f1f1;
  color: #444343;
  height: 105px; /* Altura del input text */
  width: 100%;
  padding: 5px; /* Añadir espacio interno alrededor del texto */
  box-sizing: border-box; /* Hace que el padding no afecte el tamaño total */
  resize: none;
}

.button-container {
  margin-top: 10px;
  text-align: center;
  width: 100%;

}

.button-container button {
  margin-bottom: 10px; /* Espaciado entre los botones */
}

.card-cuerpo{
  border: 1px solid #a72626;
  border-radius: 10px;
  max-height: 250px;
  min-height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  overflow: auto;
}

.tabla-remitos {
  align-items: center;
  text-align: center;
}

.contenedor{
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  margin: 0; /* Asegurarse de que no haya márgenes */
  padding: 0; /* Asegurarse de que no haya relleno */
  box-sizing: border-box;
}












.popup-remito-nuevo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

/* Estilo del contenido del popup */
.popup-content-remito {
  width: 900px;
  max-width: 900px;
  margin: 0 auto;
  max-height: 500px;
}

/* Estilo del botón para cerrar el popup */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Estilo del fondo oscuro cuando el popup está abierto */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.info-group-btn-popup-crea {
  color: #444343;
  max-width: 340px;
  min-width: 340px;
  max-height: 360px;
  margin: 5px;
  padding: 10px; /* Añadir espacio interno para separar del borde */
  display: flex;
  flex-direction: column; /* Establecer el diseño de columna */
  border-left: 1px solid #a72626;
}



.pre-hs-ex-remito-nuevo {
  max-height: 150px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  border-collapse: collapse;
}

.button-container {
  margin-top: 10px; /* Ajusta el margen según tus necesidades */
}

.popup-content-remito {
  max-height: 80vh; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

.popup-remito-nuevo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #a72626;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.display-nuevo-Remito {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 50px;
  margin-right: 50px;
}

.display-nuevo-Remito select {
  width: 100%;
  margin-bottom: 10px; /* Espacio entre los selectores */
}

.display-nuevo-Remito input {
  width: 100%;
  margin-bottom: 10px; /* Espacio entre el input y los botones */
}

.display-nuevo-Remito button {
  width: 48%; /* Ajusta el ancho de los botones según tus necesidades */
}

.display-nuevo-Remito button:first-child {
  margin-right: 4%; /* Espacio entre los botones */
}

.display-nuevo-Remito button:last-child {
  margin-left: 4%; /* Espacio entre los botones */
}


.btn-agrega-quita {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.btn-agrega-quita button {
  margin: 0 5px;
  width: auto;
}

.btn-guarda-cancela {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-top: 5px;
}

.btn-guarda-cancela button {
  margin: 0 5px;
}

.container-nuevo-remito {
  margin-top: 5px;
  overflow: auto;
}

.nuevo-remito-selector{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nuevo-remito-selector-variedad{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.info-item-nuevo {
  margin-bottom: 10px; /* Espaciado entre elementos de información */
  height: 100%;
}

.content-modifica {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 460px;
  min-width: 460px;
  max-height: 460px;
  min-height: 460px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #a72626;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.content-modifica-up {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 420px;
  max-height: 100px;
  min-width: 420px;
  min-height: 100px;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #a72626;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.modifica-bins-tabla{
  min-width: 400px;
  min-height: 220px;
}

.remito-modifica-bins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-selectores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.selectores-container {
  flex: 1;
}

.selectores-modifica {
  width: 100%;
  margin-bottom: 10px;
}

.btn-agrega-quita-modifica {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 10px;
  justify-content: space-between;
}

.btn-agrega-quita-modifica button {
  margin-bottom: 10px;
}

.container-modifica-bins {
  overflow: auto;
  max-height: 220px;
}

.btn-guarda-cancela {
  display: flex;
  justify-content: space-between;
}

.btn-guarda-cancela button {
  flex: 1;
  margin: 0 5px;
}

/* Media Query para hacerlo responsivo */
@media only screen and (max-width: 600px) {
  .content-modifica {
    width: 90%;
  }
}

.vista-container-autoriza-viejo{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px); 
  width: calc(100vw - 170px); 
  overflow: auto;
}

/* ################  INICIO DE AGREGA AUTORIZADOS  ###################### */

.vista-container-agrega {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px); 
  width: calc(100vw - 170px); 
}

.div-1,
.div-2 {
  flex: 1; /* Ambos divs ocuparán el mismo espacio */
  /*border: 1px solid #ccc;  Bordes para visualizar mejor */
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px; /* ajusta el espacio entre el borde y el contenido */
}

.tabla-container {
  max-height: calc(100% - 40px); /* Ajusta según tus necesidades */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.ContenidoCadrsExtras{
  padding: 10px;
}

.cardHora{
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #a72626;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  margin: 10px; /* Establece el ancho de la card según tus necesidades */
  display: flex;
}



.leftDiv {
  flex: 65%; /* El 70% del espacio disponible */
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightDiv {
  flex: 35%; /* El 30% del espacio disponible */
  border-left: 1px solid #a72626;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.horas-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.strong-horas{
  margin-left: 50px;
}

.input-checkbox-hs {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #a72626;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.info-group-nuevo-remito {
  flex: 1; /* Hace que los grupos ocupen el espacio disponible */
  margin: 0 10px; /* Espaciado entre los grupos */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #a72626;
  min-height: 100%;
}



.popup-agrega {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Z-index alto para que esté por encima de otros elementos */
}



.popup-content-agrega {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Fondo blanco del pop-up */
  width: 400px; /* Ancho del pop-up */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001; /* Z-index más alto que el sombreado */
}


/* CHOICES */

.chosen-select {
	display: flex;
	width: 100%;
}

.choices {
	cursor: pointer;
	max-height: 35px;
	min-height: 35px;
	box-sizing: border-box;
	border: 1px solid #a72626;
	border-radius: 0.5rem;
	font-size: 14px;
	/* font-weight: bold; */
	width: 100%;
	color: #001327;
	text-align: start;
	line-height: 20px;
}

.choices__list--single .choices__item {
	width: 100%;
	font-size: 14px;
}

.choices__list--single {
	display: inline-block;
	width: 100%;
	padding: 0;
}

.choices__inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 7.5px 7.5px 3.75px;
	border-radius: 2.5px;
	font-size: 14px;
	min-height: 35px;
	overflow: hidden;
	border: none;
	background-color: none;

}

.choices__list--dropdown, .choices__list[aria-expanded] {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 100%;
	margin-top: -1px;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	overflow: hidden;
	word-break: break-all;
	z-index: 9999;
	will-change: visibility;
}

.bootstrap-select .dropdown-toggle {
	position: relative;
	width: 100%;
	text-align: right;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
	max-height: 4rem;
	min-height: 4rem;
	padding: 0.5rem;
	box-sizing: border-box;
	border: 1px solid #a72626;
	border-radius: 0.5rem;
	font-size: 0.5rem;
	font-weight: bold;
	width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
	position: relative;
	padding: 4px;
	font-size: 14px;
}

.choices__input {
	font-size: 14px;
}

/* .choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #a72626;
  border: 1px solid #a72626;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
} */











/* CHOICES */

.table_center{
  text-align: center;
}




/* ARCHIVOS */

.descarga_excel_HE{
  display: none;
  height: 380px;
  width: 380px;
  justify-content: center;
  align-items: center;
  position: relative;
}


.butons_confirm{
  margin-top: 20px;
  display: flex;
  justify-content: space-between; 
  width: 100%;
}



.btn-submit-nuevo {
  padding: 4px 10px;
  background-color: #ffffff;
  border: 1px solid #a72626;
  border-radius: 10px;
  color: #000000;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  height: 35px;
  margin-right: 5px;
  width: 50%;
}

.btn-submit-nuevo:hover {
  border-color: #a72626;
  background-color: #a72626;
  color: #ffffff;
}