
### CACHÉ MAIN
__pycache__/
__init__.py
### CHACHÉ DE S3A 51051
S3A/__pycache__/*

### CHACHE DE APLICACIONES
Applications/Mobile/Anticipos/__pycache__/*
Applications/Mobile/GeneralApp/__pycache__/*
Applications/Mobile/HorasExtras/__pycache__/*
Applications/Mobile/Presentismo/__pycache__/*
Applications/Mobile/HorasExtras/__pycache__/views.cpython-38.pyc
Applications/TareasProgramadas/__pycache__/*
Applications/TresAses/__pycache__/*
Applications/RRHH/__pycache__/*
Applications/RRHH/migrations/__pycache__/__init__.cpython-38.pyc
Applications/TresAses/migrations/__pycache__/__init__.cpython-38.pyc
S3A/__pycache__/settings.cpython-38.pyc

Applications/Mobile/Anticipos/__pycache__/views.cpython-38.pyc
Applications/Mobile/GeneralApp/__pycache__/views.cpython-38.pyc
Applications/Mobile/HorasExtras/__pycache__/views.cpython-38.pyc
Applications/Mobile/Presentismo/__pycache__/views.cpython-38.pyc
Applications/Mobile/Anticipos/__pycache__/views.cpython-38.pyc


_pycache_/

S3A/SQLite/db.sqlite3
db.sqlite3















