<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static 'imagenes/TA.ico' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'Inicio/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Tres Ases</title> 
</head>
<body>
    <section class="home">
        <div class="container">   

            {% block content %}
            <div class="encabezado">
            </div>
            <div class="imageInicio">
                <div class="logoInicio">
                </div>
                <div class="login-form">
                <h2>Iniciar Sesión</h2>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Usuario" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Contraseña" id="password" name="password" required>
                    </div>
                    <button class="button" type="button">Ingresar</button>
                </form>
                </div>
            </div>
            {% endblock %}

        </div>
    </section>
    <!-- <script src="script.js"></script> -->
</body>
</html>