{% extends "RRHH/HorasExtras/horasExtras.html" %}

{% load static %}

{% block content %}

<div class="contenedor">
    <div class="text letras">
        <div class="row">
            <h4>TRANSFERENCIA DE HORAS EXTRAS</h4>
            <label class="letras" for="TipoHora">Buscar por:</label>
            <select class="selectores" type="checkbox" id="ComboxBuscarPor" name="ComboxBuscarPor">
              <option value="0">Seleccione</option>
              <option value="t">Todo</option>     
              <option value="h">Horas</option>                                                 
              <option value="l">Legajo</option>
              <option value="f">Fecha</option>
            </select>
            <form style="display: none;" id="formMostrarHorasExtras" method="POST" action="">
              <label class="letras" for="TipoHora">‎ ‎ </label>
              <select class="selectores" type="checkbox" id="ComboxSectorHEHoras" name="ComboxSectorHEHoras">
                <option value="0">Departamento</option>
                <!-- <option value="A">Administración</option> -->
                <option value="C">Chacras</option>
                <!-- <option value="E">Empaque</option> -->
              </select>
              <label class="letras" for="TipoHora">‎ ‎ </label>
              <select class="selectores" type="checkbox" id="ComboxTipoHoraTransf" name="ComboxTipoHoraTransf">
                <option value="0">Seleccione</option>
                <option value="50">Horas al 50 %</option>
                <option value="100">Horas al 100 %</option>
                <option value="N50">Horas Nocturnas 50%</option>
                <option value="N100">Horas Nocturnas 100%</option>
                <option value="A">Horas Arregladas</option>
              </select>
            </form>
            <form style="display: none;" id="formMostrarHorasExtrasSector" method="POST" action="">
              <label class="letras" for="TipoHora">‎ ‎ </label>
              <select class="selectores" type="checkbox" id="ComboxSectorHELegajos" name="ComboxSectorHELegajos">
                <option value="0">Departamento</option>
                <!-- <option value="A">Administración</option> -->
                <option value="C">Chacras</option>
                <!-- <option value="E">Empaque</option> -->
              </select>
            </form>
            <form style="display: none;" id="formMostrarHorasExtrasLegajo" method="POST" action="">
              <label class="letras" for="TipoHora">‎ ‎ </label>
              <select class="selectores" type="checkbox" id="ComboxTipoLegajoTransf" name="ComboxTipoLegajoTransf">
              </select>
            </form>
        </div>
    </div>
    <div class="vista-container">
        <form id="formEnviaHorasExtras" method="POST" action="#">
            <div class="formularios">
              <div class="row_items">
                <div class="items-row">
                  <label class="letras" for="valor">Valor: </label>
                  <input class="input-number" type="number" id="HeImporte" step="0.01" min="0" name="valor" placeholder="0000,00">
                </div>
                <!-- <div class="items-row">
                  <label class="letras" for="HePagada">Pagada: </label>
                  <input class="input-checkbox" type="checkbox" id="HePagada" name="HePagada" value="P">
                </div> -->
                <div class="items-row">
                    <button id="enviaElFormHorasExtras" class="btn-submit botones" type="button"><b>Guardar</b></button>
                </div>
                <div style="margin-left: auto;">
                  <div class="items-row">
                    <button id="showPopupBtn" class="btn-submit botones" type="button"><b>Eliminar</b></button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="container-tabla-he">
                <table class="pre-hs-ex">
                    <thead id="encabezado-tabla-hs-ex">
                      <tr>
                        <th style="width: 40px;"><input type="checkbox" class="input-checkbox checkbox" id="selectAll"></th>
                        <th style="width: 60px; min-width: 60px;">Tipo</th>
                        <th style="width: 80px; min-width: 80px;">Legajo</th>
                        <th style="width: 280px; min-width: 280px;">Nombre y Apellido</th>
                        <th style="width: 280px; min-width: 280px;">Centro de Costo</th>
                        <th style="width: 180px; min-width: 180px;">Desde - Fecha y Hora</th>
                        <th style="width: 180px; min-width: 180px;">Hasta - Fecha y Hora</th>
                        <th style="width: 400px; min-width: 400px;">Motivo</th>
                        <th style="width: 80px; min-width: 80px;">Horas</th>
                        <th style="width: 80px; min-width: 80px;">Importe</th>
                        <th style="width: 260px; min-width: 260px;">Solicita</th>
                      </tr>
                    </thead>
                    <tbody id="tablaHorasProcesadas">
                    </tbody>
                  </table>                          
            </div>                    
        </form>
    </div>                  
</div>

<div class="modal-overlay">
  <div class="modal-container">
    <div class="demo-container">
      <div class="progress-bar">
        <div class="progress-bar-value"></div>
      </div>
    </div>
  </div>
</div>

<div class="popup-confirmacion" style="display: none;" id="confirmationPopup">
  <div class="popup-content">
    <p>¿Estás seguro de que deseas eliminar los items seleccionados?</p> <br>
    <button id="confirmBtn" class="btn-submit botones">Confirmar</button>
    <button id="cancelBtn" class="btn-submit botones">Cancelar</button>
  </div>
</div>

<div id="popup" class="popup">
  <span class="close" id="closePopup">&times;</span>
  <div id="mensaje-pop-up">

  </div>
</div>

  
<script src="{%static 'TresAses/js/HorasExtras/horasExtras.js' %}"></script>
{% endblock %}