{% extends "Chacras/Planillas/planillas.html" %}

{% load static %}

{% block content %}


<div class="encabezado" style="background-color: #a72626">
    <div class="text" style="font-size: 20px;">CHACRAS - PLANILLAS - GENERAL</div>
</div>

<div class="contenedor">
    <div class="pl-general">
        <div class="row-pl-top">
            <div class="items-row-pl">
                <label class="letras" for="fechaInicio">Desde:</label>
                <input type="date" onclick="this.showPicker();" id="fechaInicio" name="fechaInicio" class="selectores">
            </div>
            <div class="items-row-pl">
                <label class="letras" for="fechaFinal">Hasta</label>
                <input type="date" onclick="this.showPicker();" id="fechaFinal" name="fechaFinal" class="selectores">
            </div>
            <div class="items-row-pl" style="max-width: 350px; width: 350px;">
                <select class="choices_inner vr-select" id="selector_centros"  multiple>
                </select>
            </div>
        </div>
        <div class="row-pl-bottom">
            <div class="items-row-pl" style="max-width: 300px; width: 300px;">
                <select class="choices_inner vr-select" id="selector_legajos" name="selector_legajos">
                </select>
            </div>
            <div class="items-row-pl" style=" max-width: 300px; width: 210px;">
                <select class="choices_inner vr-select" id="selector_descripcion" >
                </select>
            </div>
            <div class="items-row-pl" style=" max-width: 300px; width: 210px;">
                <select class="choices_inner" id="selector_pagos">
                </select>
            </div>
            <div class="items-row-pl">
                <button id="idBuscaAdicional" name="idBuscaAdicional"
                    class="selectores btn-submit botones bx material-symbols-outlined icon"
                    type="button">search</button>
            </div>
            <div class="items-row-pl" style="margin-left: 10px;">
                <button id="idEliminar" name="idEliminar"
                    class="selectores btn-submit botones bx material-symbols-outlined icon"
                    type="button">delete</button>
            </div>
            <div class="items-row-pl">
                <button id="addPremio" name="addPremio"
                    class="selectores btn-submit botones bx material-symbols-outlined icon"
                    type="button">trophy</button>
            </div>
            <div class="items-row-pl">
                <button id="update_importe" name="update_importe"
                    class="selectores btn-submit botones bx material-symbols-outlined icon"
                    type="button">attach_money</button>
            </div>
            <div class="items-row-pl" style="margin-left: 10px;">
                <button id="idExporta" name="idExporta" onclick="openExportaPopup();"
                    class="selectores btn-submit botones bx material-symbols-outlined icon"
                    type="button">move_group</button>
            </div>
        </div>
    </div>

    <div class="vista-container">
        <div class="vista-container-planilla">
            <div class="div-1">
                <table class="pre-hs-ex">
                    <thead id="encabezado-tabla-hs-ex">
                        <tr>
                            <th style="width: 40px;"><input type="checkbox" class="input-checkbox checkbox"
                                    id="selectAll"></th>
                            <th style="width: 120px; min-width: 120px;">Semana</th>
                            <th style="width: 70px; min-width: 70px;">Legajo</th>
                            <th style="width: 280px; min-width: 280px;">Nombre y Apellido</th>
                            <th style="width: 70px; min-width: 70px;">Centro</th>
                            <th style="width: 120px; min-width: 120px;">Descripción</th>
                            <th style="width: 100px; min-width: 100px;">Tarea</th>
                            <th style="width: 60px; min-width: 60px;">Días</th>
                            <th style="width: 60px; min-width: 60px;">Cant.</th>
                            <th style="width: 110px; min-width: 110px;">Tipo</th>
                            <th style="min-width: 210px;">Chacra</th>
                            <th style="width: 110px; min-width: 110px;">Premio</th>
                            <th style="width: 110px; min-width: 110px;">Pago</th>
                            <th style="width: 110px; min-width: 110px;">Importe</th>
                            <th style="width: 50px; min-width: 50px;">Más</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_adicionales" class="texto-font">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Pop-up Detalles -->
<div id="pop_up_detalles" class="popup-overlay">
    <div class="popup-content-planilla-general">
        <div class="popup-header">
            <h2>DETALLE ADICIONAL</h2>
        </div>
        <div class="popup-body" id="content-detalles-planilla-general">

        </div>
        <div class="popup-footer">
            <button class="btn-submit-nuevo" id="close-popup">CERRAR</button>
        </div>
    </div>
</div>

<div class="descarga_excel_HE" id="confirmacion_id">
    <div class="popup-confirmacion" id="confirmationPopup">
        <div class="popup-content" id="popup-content">
            <h4>CONFIRMAR ELIMINACIÓN</h4>
            <div style="margin-top: 20px;" id="contenido_popup">
                <p>¿Está seguro que eliminar los items seleccionados?</p>
            </div>
            <div class="butons_confirm">
                <button id="cancelar_id" class="btn-submit-nuevo ">CANCELAR</button>
                <button id="confirmar_id" class="btn-submit-nuevo " onclick="elimina_adicionales();">ELIMINAR</button>
            </div>
        </div>
    </div>
</div>

<div class="introducirImporte" id="confirmacion_Premio"></div>
<div class="popup-confirmacion" id="confirmationPopupPremio">
    <div class="popup-content" id="popup-contentPremio">
        <div id="conetnido_importes">
        </div>
        <div class="butons_confirm">
            <button id="cancelar_Premio" class="btn-submit-nuevo ">CANCELAR</button>
            <button id="confirmar_Premio" class="btn-submit-nuevo " onclick="">GUARDAR</button>
        </div>
    </div>
</div>
</div>

<!-- Pop-up Exportar a Archivo -->
<div id="exporta-planilla-popup" class="exporta-planilla-popup-overlay">
    <div class="exporta-planilla-popup-content">
        <div class="exporta-planilla-popup-header">
            <h2>Exportar a Archivo</h2>
        </div>
        <div class="exporta-planilla-popup-body">
            <div class="exporta-planilla-divs_form">
                <label for="exporta-planilla-tipo-archivo">TIPO ARCHIVO</label>
                <select id="exporta-planilla-tipo-archivo" class="exporta-planilla-input-selectores">
                    <option value="0" selected disabled>Seleccione un tipo de archivo</option>
                    <option value="xlsx">EXCEL</option>
                </select>
            </div>
        </div>
        <div class="exporta-planilla-popup-footer">
            <button class="btn-submit-nuevo" id="generar_archivo">GENERAR</button>
        </div>
        <div class="exporta-planilla-close-popup">X</div>
    </div>
</div>



<div class="modal-overlay">
    <div class="modal-container">
        <div class="demo-container">
            <div class="progress-bar">
                <div class="progress-bar-value">

                </div>
            </div>
        </div>
    </div>
</div>


<div id="popup" class="popup">
    <span class="close" id="closePopup">&times;</span>
    <div id="mensaje-pop-up">

    </div>
</div>


<script src="{%static 'TresAses/js/Librerias/choices.min.js' %}"></script>
<script src="{%static 'TresAses/js/Librerias/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'TresAses/js/Chacras/Planillas/general.js' %}"></script>

{% endblock %}