{% extends "Logistica/PedidosFlete/pedidosFlete.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<div class="encabezado" style="background-color: #a72626">
    <div class="text" style="font-size: 20px;">LOGÍSTICA - PEDIDOS DE FLETE - ASIGNACIÓN</div>
</div>

<div class="pfs-contenedor">
    <div class="pfs-columna-izquierda">
        <div class="pfs-rectangulo-rojo">
            <div class="pf-menu">
                <div class="pfa-checkbox-container btn-submit">
                    <input type="checkbox" id="pfa-pedido-chacra" class="pfa-checkbox-label" checked>
                    <label for="pfa-pedido-chacra" class="pfa-checkbox-label">Pedidos de chacra</label>
                </div>
                <div class="pfa-checkbox-container btn-submit">
                    <input type="checkbox" id="pfa-cambio-domicilio" class="pfa-checkbox-label" checked>
                    <label for="pfa-cambio-domicilio" class="pfa-checkbox-label">Cambios de domicilio</label>
                </div>
                <div class="pfa-boton-container">
                    <button class="boton-detalles" id="pfa-refresh">
                        <i class='bx material-symbols-outlined pfa-btn-submit'>refresh</i>
                    </button>
                </div>
                <div class="pfa-boton-container">
                    <button class="btn-submit" id="pfa-multiple">MULTIPLES DESTINOS</button>
                </div>
            </div>
        </div>
        <!-- <div class="pfs-contenedor-completo">
            
        </div> -->
        <div class="pfs-rectangulo-verde">
            <div class="pfa-titulo-fondo">
                <h5>PENDIENTES</h5>
            </div>
            <div class="pfa-contenedor-table">
                <table id="miTablaPendientes" class="pfa-tabla display" style="width:100%">
                    <thead class="pfa-tabla-encabezado">
                        <tr>
                            <th class="pfa-tabla-encabezado-celda">S</th>
                            <th class="pfa-tabla-encabezado-celda">N°</th>
                            <th class="pfa-tabla-encabezado-celda">TIPO</th>
                            <th class="pfa-tabla-encabezado-celda">ORIGEN</th>
                            <th class="pfa-tabla-encabezado-celda">SOLICITA</th>
                            <th class="pfa-tabla-encabezado-celda">CARGA</th>
                            <th class="pfa-tabla-encabezado-celda">FECHA</th>
                            <th class="pfa-tabla-encabezado-celda">HORA</th>
                            <th class="pfa-tabla-encabezado-celda">ZONA</th>
                            <th class="pfa-tabla-encabezado-celda">DESTINO</th>
                            <th class="pfa-tabla-encabezado-celda">ESPECIE</th>
                            <th class="pfa-tabla-encabezado-celda">BINS</th>
                            <th class="pfa-tabla-encabezado-celda">VACÍOS</th>
                            <th class="pfa-tabla-encabezado-celda">CUELLOS</th>
                            <th class="pfa-tabla-encabezado-celda">ASIGNAR</th>
                            <th class="pfa-tabla-encabezado-celda">MÁS</th>
                        </tr>
                    </thead>
                    <tbody class="pfa-tabla-cuerpo" id="pfa-tabla-pendientes">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pfs-rectangulo-verde">
            <div class="pfa-titulo-fondo">
                <h5>ASIGNADOS</h5>
            </div>
            <div class="pfa-contenedor-table">
                <table id="miTablaAsignados" class="pfa-tabla display" style="width:100%">
                    <thead class="pfa-tabla-encabezado">
                        <tr>
                            <th class="pfa-tabla-encabezado-celda">N°</th>
                            <th class="pfa-tabla-encabezado-celda">TIPO</th>
                            <th class="pfa-tabla-encabezado-celda">SOLICITA</th>
                            <th class="pfa-tabla-encabezado-celda">CARGA</th>
                            <th class="pfa-tabla-encabezado-celda">FECHA</th>
                            <th class="pfa-tabla-encabezado-celda">DESTINO</th>
                            <th class="pfa-tabla-encabezado-celda">CHOFER</th>
                            <th class="pfa-tabla-encabezado-celda">TRANSPORTE</th>
                            <th class="pfa-tabla-encabezado-celda">CAMION</th>
                            <th class="pfa-tabla-encabezado-celda">ASIG.</th>
                            <th class="pfa-tabla-encabezado-celda">MÁS</th>
                        </tr>
                    </thead>
                    <tbody class="pfa-tabla-cuerpo" id="pfa-tabla-asignados">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pfs-rectangulo-verde-rechazados">
            <div class="pfa-titulo-fondo">
                <h5>VIAJES RECHAZADOS</h5>
            </div>
            <table id="miTablaRechazados" class="pfa-tabla display" style="width:100%;">
                <thead class="pfa-tabla-encabezado">
                    <tr>
                        <th class="pfa-tabla-encabezado-celda">N°</th>
                        <th class="pfa-tabla-encabezado-celda">CHOFER</th>
                        <th class="pfa-tabla-encabezado-celda">FECHA</th>
                        <th class="pfa-tabla-encabezado-celda">CANT. DESTINOS</th>
                        <th class="pfa-tabla-encabezado-celda">DETALLES</th>
                        <th class="pfa-tabla-encabezado-celda">MOVER</th>
                    </tr>
                </thead>
                <tbody class="pfa-tabla-cuerpo" id="listado_rechazados">

                </tbody>
            </table>
        </div>
    </div>

    <div class="pfs-columna-derecha">
        <div class="pfa-destalles-viajes">
            <div class="pfa-boton-container pfa-titulo-fondo">
                <h5>VIAJES EN CURSO</h5>
                <button class="boton-detalles" id="pfa-refresh-choferes">
                    <i class='bx material-symbols-outlined pfa-btn-submit'>refresh</i>
                </button>
            </div>
            <div class="pfa-contenedor-cards" id="pfa-contenedor-choferes">

            </div>
        </div>
    </div>
</div>

<div id="popup-container-pfa-asig" style="display: none;">
    <div class="pfa-asig-overlay"></div>
    <div class="pfa-asig-popup" id="pfa-asig-popup">
        <div class="pfa-asig-popup-titulo" id="titulo-asignaciones">
        </div>
        <div class="pfa-asig-popup-contenido">
            <table class="pfa-asig-popup-tabla">
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                <tbody id="pfa-asig-destinos-tabla">
                </tbody>
            </table>
            <div class="pfa-asig-popup-selector">
                <input type="number" class="pfa-asig-popup-select" id="input-cantidad-vacios"
                    placeholder="CANTIDAD VACIOS">
            </div>
            <div class="pfa-asig-popup-selector">
                <select class="pfa-asig-popup-select" id="selector_vacios">
                </select>
            </div>
            <div class="pfa-asig-popup-separador"></div>
            <div class="pfa-asig-popup-selector">
                <select class="pfa-asig-popup-select" id="selector_choferes">
                </select>
            </div>
            <div class="pfa-asig-popup-selector">
                <select class="pfa-asig-popup-select" id="selector_transportes">
                </select>
            </div>
            <div class="pfa-asig-popup-selector">
                <select class="pfa-asig-popup-select" id="selector_camiones">
                </select>
            </div>
            <div class="pfa-asig-popup-selector">
                <select class="pfa-asig-popup-select" id="selector_acoplados">
                </select>
            </div>
        </div>
        <div class="pfa-asig-popup-botones">
            <button class="pfa-asig-popup-btn btn-submit" id="btn-cancel-asig">Cancelar</button>
            <button class="pfa-asig-popup-btn btn-submit" id="btn-acept-asig">Aceptar</button>
        </div>
    </div>
</div>

<div class="pfa-lu-popup" id="pfa-lu-popup">
    <div class="pfa-lu-popup-contenido">
        <button class="pfa-lu-popup-cerrar btn-submit" id="pfa-lu-popup-cerrar">Cerrar</button>
        <div class="pfa-lu-popup-texto" id="pfa_mapeo_actual" style="width: 100%; height: 400px;">
        </div>
    </div>
</div>

<div id="pop_up_detalles" class="popup-overlay">
    <div class="popup-content-planilla-general">
        <div class="popup-header" id="pfa-titulo-popup">

        </div>
        <div class="popup-body" id="content-detalles-pedidos">

        </div>
        <div class="popup-footer">
            <button class="btn-submit-nuevo" id="closePopupBtn">CERRAR</button>
        </div>
    </div>
</div>

<div class="modal-overlay">
    <div class="modal-container">
        <div class="demo-container">
            <div class="progress-bar">
                <div class="progress-bar-value"></div>
            </div>
        </div>
    </div>
</div>

<div class="popup-confirmacion" style="display: none;" id="confirmationPopup">
    <div id="number_cvn"></div>
    <div class="popup-content">
        <p>¿Estás seguro que quieres mover los Pedidos del Viaje a PEDIDOS PENDIENTES?</p> <br>
        <button id="cancelBtn" class="btn-submit botones">Cancelar</button>
        <button id="confirmBtn" class="btn-submit botones">Confirmar</button>
    </div>
</div>

<div id="popup" class="popup">
    <span class="close" id="closePopup">&times;</span>
    <div id="mensaje-pop-up">

    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{%static 'TresAses/js/Librerias/choices.min.js' %}"></script>
<script src="{%static 'TresAses/js/Librerias/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{%static 'TresAses/js/Librerias/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{%static 'TresAses/js/Librerias/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'TresAses/js/Logistica/PedidosFlete/asignacionPedidos.js' %}"></script>

{% endblock %}